################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ModeloMarketing/FileContentIndex/42968429-ebaf-4c01-98c9-fe8444e0b464.vsidx
